<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
        crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Hello</title>
</head>
<body>
<nav th:insert="~{parts/navbar::copy}"></nav>

<form th:action="@{/addPost}" th:object="${post}" method="post" class="col-lg-6 offset-lg-3 pt-1" enctype="multipart/form-data">
  <div class="row" style="padding-top: 20%;">
    <div class="row justify-content-center">
            <span class="border border-5" style="padding:5em">
                <p>Hello, <span th:text="${#httpServletRequest.remoteUser}"/></p>
              <label for="postForm" class="form-label">If you want to add or edit post, wright it in that form</label>
                <input type="hidden" th:field="*{id}"/>
              <textarea th:field="*{news}" class="form-control" id="postForm" rows="6">
                  <span th:text="*{news}"/>
              </textarea>
              <input type="file" name = "files" />
                <p th:if="${#fields.hasErrors('news')}" th:errors="*{news}"
                   class="validation-message"/>
                <button type="submit" class="btn btn-light">Submit</button>
            </span>
    </div>
  </div>
</form>


</body>
</html>