<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login page</title>
</head>
<body>
<nav th:insert="~{parts/navbar::copy}"></nav>
<form th:action="@{/login}" method="post">
    <p th:if="${param.error}" class="error">Wrong user or password</p>
    <fieldset>
        <label for="username">Username <input id="username" type="text" name="username"></label>
        <br/>
        <label for="password">Password  <input id="password" type="password" name="password"></label>
        <br>
        <button type="button" class="btn btn-light">Light</button>
    </fieldset>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>