<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
</head>
<body>
<p>If you want to sign up, you can use that form. If you want to log in, go <a href="login.html">here.</a> </p>
<form th:action="@{/registration}" th:object="${user}" method="post" >
    <label for="username">Username <input id="username" th:field="*{userName}" type="text"/></label>
    <label for="password">Password <input id="password" th:field="*{password}" type="text"/></label>
    <label for="email">Email <input id="email" th:field="*{email}" type="text"/></label>
    <input id="submit" type="submit">
</form>
</body>
</html>